#homeheader {
    text-align: center;
    margin: 10px 75px 10px 75px;
    background-color: white;
}
#lefttab {
    margin-left: 76px;
}
#planetdescribe {
    text-align: center;
    background-color: white;
    margin: 10px 75px 0px 75px;
    padding-left: 15px;
    padding-right: 15px;
}
#planetdbody {
    line-height: 20px;
}
#calculations {
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 10px;
    background-color: white;
    height: 400px;
}
.calculation {
    font-size: 18px;
}
.bordered {
    border: solid;
    border-width: 4px;
    border-color: #287aff;
}
.tab {
    background-color: white;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    width: 248px;
    margin: 5px 6px 5px 0px;
    text-align: center;
}
a {
    text-decoration: none;
}
body {
    background-color: black;
}
.tab:hover {
    background-color: silver;
}
